@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.option-size {
    width: 700px;
}

// SIDEBAR STYLE

:root {
    --primary-color: #272727;
    --text: white;
    --background: #F4F5FC;
    --sidebar-gray-background: #DCE1EB;
    --red: #F55E5E;
    --item-hover: #F0F0F0;
}

body {
    background-color: var(--background);
    height: 100%;
}

html {
    height: 100%;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 860px;
    height: 100%;
    width: 18rem;
    padding: 16px 10px;
    display: flex;
    color: white;
    flex-direction: column;
    background-color: #FCFCFD;
    transition: all 0.1s ease-in-out;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

body.collapsed .sidebar {
    width: 76px;
}

body.collapsed .hide {
    position: absolute;
    display: none;
}

.sidebar-links {
    padding: 8px 0px;
}

.sidebar-links ul {
    list-style-type: none;
    position: relative;
    padding-left: 0;
}

.sidebar-links li {
    color: var(--primary-color);
}

.sidebar-links li svg {
    stroke: var(--primary-color);
    transition: none;
    width: 28px;
    height: 28px;
}

.sidebar-links li a {
    padding: 12px 12px;
    margin: 8px 0px;
    color: var(--primary-color);
    font-size: 1.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 56px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-links li a img {
    height: 34px;
    width: 34px;
}

.sidebar-links .link {
    margin-left: 30px;
}

.sidebar-links .active:hover {
    background-color: var(--primary-color);
    color: var(--background);
}

.sidebar-links .active:hover svg {
    stroke: var(--background);
}

.sidebar-links .active {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--background);
}

.sidebar-links .active svg {
    stroke: var(--background);
}

.sidebar-links li a:hover {
    background-color: var(--sidebar-gray-background);
    color: var(--background);
}

.sidebar-links li a:hover svg {
    stroke: var(--primary-color);
}

body.collapsed .expand-btn {
    justify-content: start;
}

.expand-btn:hover {
    background-color: var(--item-hover);
}

.expand-btn {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    color: var(--primary-color);
    border-radius: 8px;
    padding: 8px;
}

.expand-btn img {
    transform: rotate(180deg);
    stroke: var(--primary-color);
    width: 38px;
    height: 38px;
}

body.collapsed .expand-btn img {
    transform: rotate(-360deg);
}

body.collapsed .expand-btn .show {
    position: absolute;
}

.tool {
    position: relative;
}

.tool .tooltip_content {
    visibility: hidden;
    background-color: var(--primary-color);
    color: var(--text);
    text-align: center;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    z-index: -1;
    left: 75px;
}

.collapsed .tooltip_content {
    display: none;
}

// END SIDEBAR

.b-radius {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

// LOGIN FORM

.login-link .btn-login {
    cursor: pointer;
}

@keyframes pan {
    100% {
        background-position: 15%, 50%;
    }
}

.container-login {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0 24px;
    background-image: url('../images/bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}

.login-card {
    width: 100%;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
}

.login-card>h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}


.login-card>h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38);
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form .login-link {
    color: #216ce7;
}

.login-form .login-link,
.login-form .btn-login {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 8px;
}

.login-form>input {
    border: 2px solid #ebebeb;
}

.login-form>.btn-login {
    width: 100%;
    height: 56px;
    border: 0;
    background: #216ce7;
    color: #f9f9f9;
    font-weight: 600;
}

@media (width >=500px) {
    .container-login {
        padding: 0;
    }

    .login-card {
        margin: 0;
        width: 440px;
    }
}

#bars {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    width: 360px;
    margin: 8px 0;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}

#bars div {
    width: 0%;
    height: inherit;
    border-radius: inherit;
    transition: 0.4s;
}

#bars.weak div {
    background: #bc2b38;
    width: 33.3%;
}

#bars.medium div {
    background: #d36f30;
    width: 66.66%;
}

#bars.strong div {
    background: #1eb965;
    width: 100%;
}

// END LOGIN FORM

// REGISTER FORM

.register-link .btn-register {
    cursor: pointer;
}

@keyframes reg {
    100% {
        background-position: 15%, 50%;
    }
}

.bg-container-register {
    background-image: url('../images/bg-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: reg 6s infinite alternate linear;
}

.container-register {
    display: grid;
    place-items: center;
    margin-left: 250px;
    margin-right: 250px;
}

.register-card {
    width: 100%;
    padding: 20px 30px 44px;
    border-radius: 24px;
    background: #ffffff;
    text-align: center;
}

.register-card>h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}


.register-card>h3 {
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.38);
}

.register-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.register-form .register-link {
    color: #216ce7;
}

.register-form .register-link,
.register-form .btn-register {
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border-radius: 8px;
}

.register-form>input {
    border: 2px solid #ebebeb;
}

.register-form>.register-login {
    width: 100%;
    height: 56px;
    border: 0;
    background: #216ce7;
    color: #f9f9f9;
    font-weight: 600;
}

#bars {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    width: 360px;
    margin: 8px 0;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.1);
}

#bars div {
    width: 0%;
    height: inherit;
    border-radius: inherit;
    transition: 0.4s;
}

#bars.weak div {
    background: #bc2b38;
    width: 33.3%;
}

#bars.medium div {
    background: #d36f30;
    width: 66.66%;
}

#bars.strong div {
    background: #1eb965;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .container-register {
        max-width: 600px;
        display: flex;
        justify-content: center;
    }

    .form-group {
        max-width: 500px;
    }
}

// END REGISTER FORM

.mgl-logo-img {
    width: 100px;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// CARD DEI CORSI
.body {
    margin: 0;
    background: #f1f5f9;
}


h2,
h3,
h4 {
    margin: 0;
    font-weight: 500;
}

.cards {
    display: flex;
    gap: 30px;
}

article {
    position: relative;
    perspective: 1000px;
    width: 400px;
    height: 400px;
}

header {
    margin-top: 50px;
}

.back ul {
    text-align: start;
}

.header-back ul {
    text-align: center;
}

article header h2 {
    font-size: 25px;
    width: 100%;
    text-align: center;
}

article .front,
article .back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    padding: 24px;
    transition: 0.6s;
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
}

#check {
    position: absolute;
    scale: 0;
}

#check:checked~article .back {
    transform: rotateY(0);
}

#check:checked~article .front {
    transform: rotateY(-180deg);
}

article var {
    font-style: normal;
    font-size: 50px;
    line-height: 1;
}

article h3 {
    font-weight: 500;
}

article :is(h4, p) {
    opacity: 0.5;
    font-size: 20px;
}

article p {
    margin-top: 76px;
}

// RESPONSIVE TABLE

@media screen and (max-width:767px) {

    .responsive-col {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-responsive {
        margin-bottom: 15px;
        width: 100%;
    }

}